<footer>
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-12 col-lg-4">
                <div class="logo-footer">
                    <img src="/demo-custom/car-project/images/logo.png" class="img-fluid" alt="img">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <!-- <ul>
                        <li><a href="#">zaet@gmail.com </a><i class="fa-sharp fa-light fa-arrow-left"></i></li>
                        <li><a href="#">+123-456-7890 </a><i class="fa-sharp fa-light fa-arrow-left"></i></li>
                        <li><a href="#">123 Beauty Lane, City, Country</a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="nav-links">
                    <h3>Main Links</h3>
                    <ul>
                        <li><i class="fa-solid fa-chevron-right"></i><a href="index.php">Home</a></li>
                        <!-- <li><i class="fa-solid fa-chevron-right"></i><a href="#">Cars</a></li> -->
                        <li><i class="fa-solid fa-chevron-right"></i><a href="car.php">Used Cars</a></li>
                        <li><i class="fa-solid fa-chevron-right"></i><a href="reviews.php">Reviews</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="nav-links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><i class="fa-solid fa-chevron-right"></i><a href="terms-condition.php">Terms & Conditions</a></li>
                        <li><i class="fa-solid fa-chevron-right"></i><a href="privacy-policy.php">Privacy Policy</a></li>
                        <li><i class="fa-solid fa-chevron-right"></i><a href="about.php">About Us</a></li>
                        <li><i class="fa-solid fa-chevron-right"></i><a href="contact.php">Contact Us</a></li>


                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="nav-links">
                    <h3>Reach Us Out</h3>
                </div>
                <ul class="footer-address">
                        <li><img src="/demo-custom/car-project/images/icons/phone.png" class="img-fluid" alt="img"><a href="tel:+44 7424 227253">+44 7424 227253</a></li>
                        <li><img src="/demo-custom/car-project/images/icons/email.png" class="img-fluid" alt="img"><a href="mailto: info@weselmotors.co.uk">info@weselmotors.co.uk</a></li>
                        <li><img src="/demo-custom/car-project/images/icons/watch.png" class="img-fluid" alt="img"><a href="#">10.00 Am to 9.00 Pm</a></li>
                        <li><img src="/demo-custom/car-project/images/icons/location.png" class="img-fluid" alt="img"><a href="https://maps.app.goo.gl/YSzQEWE62mW8ReiKA" target="_blank">5 gwencole crescent leicester Le32fj</a></li>
                    </ul>
                    <ul class="footer-icons">
                        <li>
                            <a href="#"> <img src="/demo-custom/car-project/images/footer-icon/uil_facebook.png" class="img-fluid" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="/demo-custom/car-project/images/footer-icon/pajamas_twitter.png" class="img-fluid" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="/demo-custom/car-project/images/footer-icon/basil_instagram-solid.png" class="img-fluid" alt="img"></a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="copyeriter">
        <p>© Copyright | Wasel Motors | All Rights Reserved</p>
    </div>



</footer>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div> -->




<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="/demo-custom/car-project/js/jquery-3.6.3.min.js"></script>
<script src="/demo-custom/car-project/js/bootstrap.bundle.min.js"></script>
<script src="/demo-custom/car-project/js/aos.js"></script>
<script src="/demo-custom/car-project/js/fancybox.min.js"></script>
<script src="/demo-custom/car-project/js/owl.carousel.min.js"></script>
<script src="/demo-custom/car-project/js/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script> -->
<script src="/demo-custom/car-project/js/gsap/gsap.min.js"></script>
<script src="/demo-custom/car-project/js/gsap/ScrollTrigger.min.js"></script>
<script src="/demo-custom/car-project/js/gsap/ScrollSmoother.min.js"></script>
<script src="/demo-custom/car-project/js/custom.js"></script>
</body>

</html>