<!DOCTYPE html>
<html>

<head>
  <title><%- title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="desired tag" />
  <meta name="description" content="desired description" />
  <link rel="shortcut icon" href="images/Wesel-Motors.png" />
  <link href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet">
  <link href="/demo-custom/car-project/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/demo-custom/car-project/css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="/demo-custom/car-project/css/aos.css" rel="stylesheet" type="text/css">
  <link href="/demo-custom/car-project/css/fancybox.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="/demo-custom/car-project/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="/demo-custom/car-project/css/owl.theme.default.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link href="/demo-custom/car-project/css/jquery-ui.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css">
  <link href="/demo-custom/car-project/css/custom.css" rel="stylesheet" type="text/css">
</head>

<body>

  <header class="header-main">
    <div class="mobile-toggle" id="mobileToggle">
      <i class="fas fa-bars" id="menuIcon"></i>
    </div>
    <div class="container-fluid">
      <div class="top-header">
        <ul>
          <li>
            <a href=""><span><img src="/demo-custom/car-project/images/icons/watch.png" class="img-fluid" alt="img"></span>10.00 Am
              to 9.00 Pm</a>
          </li>
          <li>
            <a href="tel:+44 7424 227253"><span><img src="/demo-custom/car-project/images/icons/phone.png" class="img-fluid" alt="img"></span>+44 7424 227253</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="mailto: info@weselmotors.co.uk"> <span><img src="/demo-custom/car-project/images/icons/email.png" class="img-fluid" alt="img"></span> info@weselmotors.co.uk</a>
          </li>
          <li>
            <a href="https://maps.app.goo.gl/YSzQEWE62mW8ReiKA" target="_blank"><span><img src="/demo-custom/car-project/images/icons/location.png" class="img-fluid" alt="img"></span>Visit Us</a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <div>
        <a href="/demo-custom/car-project" class="btn-sm btn-outline-black"><img src="/demo-custom/car-project/images/logo.png" class="img-fluid" alt="img"></a>
      </div>
      <div class="ul-header" id="navMenu">
        <nav>
          <ul class="nav-menu">
            <li><a href="/demo-custom/car-project">Home</a></li>
            <li><a href="/demo-custom/car-project/car">Used Cars</a></li>
            <li><a href="/demo-custom/car-project/reviews">Reviews</a></li>
            <li><a href="/demo-custom/car-project/about">About Us</a></li>
            <li><a href="/demo-custom/car-project/contact">Contact Us</a></li>
            <li class="only-for-mobile">
              <a href="tel:+44 7424 227253"><span><img src="/demo-custom/car-project/images/icons/phone.png" class="img-fluid" alt="img"></span>+44 7424 227253</a>
            </li>
            <li class="only-for-mobile">
              <a href="mailto: info@weselmotors.co.uk"> <span><img src="/demo-custom/car-project/images/icons/email.png" class="img-fluid" alt="img"></span> info@weselmotors.co.uk</a>
            </li>
            <li class="only-for-mobile">
              <a href="https://maps.app.goo.gl/YSzQEWE62mW8ReiKA" target="_blank"><span><img src="/demo-custom/car-project/images/icons/location.png" class="img-fluid" alt="img"></span>Visit Us</a>
            </li>

          </ul>
        </nav>
      </div>
      <div class="header-button">
        <button id="myButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Schedule A Meeting
        </button>
      </div>


    </nav>
  </header>
  <!-- <div id="loader">
        <span class="side-loader"></span>
        <div class="digits">
            <ul>
                <li>0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
                <li>32</li>
                <li>33</li>
                <li>34</li>
                <li>35</li>
                <li>36</li>
                <li>37</li>
                <li>38</li>
                <li>39</li>
                <li>40</li>
                <li>41</li>
                <li>42</li>
                <li>43</li>
                <li>44</li>
                <li>45</li>
                <li>46</li>
                <li>47</li>
                <li>48</li>
                <li>49</li>
                <li>50</li>
                <li>51</li>
                <li>52</li>
                <li>53</li>
                <li>54</li>
                <li>55</li>
                <li>56</li>
                <li>57</li>
                <li>58</li>
                <li>59</li>
                <li>60</li>
                <li>61</li>
                <li>62</li>
                <li>63</li>
                <li>64</li>
                <li>65</li>
                <li>66</li>
                <li>67</li>
                <li>68</li>
                <li>69</li>
                <li>70</li>
                <li>71</li>
                <li>72</li>
                <li>73</li>
                <li>74</li>
                <li>75</li>
                <li>76</li>
                <li>77</li>
                <li>78</li>
                <li>79</li>
                <li>80</li>
                <li>81</li>
                <li>82</li>
                <li>83</li>
                <li>84</li>
                <li>85</li>
                <li>86</li>
                <li>87</li>
                <li>88</li>
                <li>89</li>
                <li>90</li>
                <li>91</li>
                <li>92</li>
                <li>93</li>
                <li>94</li>
                <li>95</li>
                <li>96</li>
                <li>97</li>
                <li>98</li>
                <li>99</li>
                <li>100</li>
            </ul>
        </div>
    </div> -->
  <script>
    const mobileToggle = document.getElementById('mobileToggle');
    const navMenu = document.getElementById('navMenu');
    const menuIcon = document.getElementById('menuIcon');

    mobileToggle.addEventListener('click', () => {
      navMenu.classList.toggle('active');
      document.body.classList.toggle('no-scroll');

      // Toggle icon
      if (navMenu.classList.contains('active')) {
        menuIcon.classList.remove('fa-bars');
        menuIcon.classList.add('fa-times');
      } else {
        menuIcon.classList.remove('fa-times');
        menuIcon.classList.add('fa-bars');
      }
    });
  </script>