<%- include('./includes/header') %>
<main>
    <section class="bannerst" id="review-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-text">
                        <div class="main-hosting">
                            <a href="index.html">Home</a><span><i class="fa-solid fa-chevron-right"></i></span>
                            <h6>Reviews</h6>

                        </div>

                        <h2>Reviews</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testitmoinals">
        <div class="container">
            <div class="row">
                <h2 class="mention0h2">See What Customers Say</h2>
                <div class="owl-carousel owl-theme theme-slider owl-loaded owl-drag"
                    style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">





                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-1725px, 0px, 0px); transition: all; width: 6329px;">
                            <div class="owl-item cloned" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-3.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Emily Rodriguez</span></li>
                                                <li><span>Teacher</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-1.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Sarah Mitchell</span></li>
                                                <li><span>Fitness Coach</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-1.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Sarah Mitchell</span></li>
                                                <li><span>Fitness Coach</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-1.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Sarah Mitchell</span></li>
                                                <li><span>Fitness Coach</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-2.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">James Carter</span></li>
                                                <li><span>Entrepreneur</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-3.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Emily Rodriguez</span></li>
                                                <li><span>Teacher</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-1.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Sarah Mitchell</span></li>
                                                <li><span>Fitness Coach</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-1.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Sarah Mitchell</span></li>
                                                <li><span>Fitness Coach</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-1.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Sarah Mitchell</span></li>
                                                <li><span>Fitness Coach</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-2.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">James Carter</span></li>
                                                <li><span>Entrepreneur</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 545.333px; margin-right: 30px;">
                                <div class="item">

                                    <div class="main-testi"
                                        style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
                                        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has
                                            been the industry's standard dummy text ever since the 1500s.</p>
                                        <div class="main-fulder">

                                            <img src="/demo-custom/car-project/images/testimonials/icons-3.png" class="img-fluid" alt="img">
                                            <ul>

                                                <li><span class="testimonails-name">Emily Rodriguez</span></li>
                                                <li><span>Teacher</span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button><button type="button" role="presentation"
                            class="owl-next"><span aria-label="Next">›</span></button></div>
                    <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                            role="button" class="owl-dot"><span></span></button></div>
                </div>

            </div>
        </div>
    </section>


    <%- include('./includes/footer') %>
</main>